* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxS;
}

body {
    font-family: 'Courier';
    color: #333;   
}     

#container {
    width: 70%;
    padding: 1rem;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
    padding: 0.25rem 0;
}

#container p {
    padding: 0.25rem 0
}